@{
    ViewBag.Title = "Lê Hoàng Long";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>Siêu Nhân Đỏ</h3>

    <address>
        K22CNT3 - Lê Hoàng Long
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:chungtrinhj@gmail.com">chungtrinhj@gmail.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:lehoanglong26072004@gmail.com">lehoanglong26072004@gmail.com</a>
    </address>
</main>